/* Overrided and custom css styles
 *****************************************/

h1 {
  font-family: 'Fira Sans', sans-serif;
}

h3 {
  font-family: 'Fira Sans', sans-serif;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
}

span {
  font-family: 'Fira Sans', sans-serif;
}

html,body {
  background-color: #F1F1F1;
}

.headerbar {
  min-height: 60px;
}

.headerbar-coloured {
  background-color: #88D8DF;
}

.header-left > h1 {
  background-color: #88D8DF;
}

#search-all-button {
  background-color: #88dbdf;
}

.search-vocab-text {
  background-color: #5CC0C4;
}

#lang-dropdown-toggle, .multiselect {
  background-color: #88dbdf;
}

.multiselect .dropdown-toggle, .dropdown-toggle:hover, .btn.dropdown-toggle:focus, .open > .dropdown-toggle.btn-default {
  background-color: #88dbdf;
}

#vocabulary-list, #vocabulary-list-wide, #vocabulary-list-left, #vocabulary-list-right {
  padding: 20px 10px;
}

.about-content > p > a {
  margin: 0 2px;
  text-decoration: underline !important;
}

.fixed {
  height: calc(100% - 300px) !important;
}

@media (max-width: 800px) {

  #sidebar {
    display: block !important;
    position: relative !important;
    height: 400px !important;
    width: 100%;
    overflow: hidden !important;
    margin-bottom: 20px !important;
  }

}

@media (min-width: 801px) {

  #navigation > a {
    margin-right: 15px;
  }

}
